body {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin: 10px;
}

button {
  height: 20px;
  width: 80px;
  margin: 5px;
}

p {
  margin: 5px;
  display: inline;
}

h1 {
  animation: pulse 5s infinite;
}

.stack {
  display: flex;
  flex-direction: column;
}


.buttonWrap {
  display: flex;
  flex-direction: row;
}

.main {
  border: 1px solid black;
  max-width: 300px;
}

#result {
  margin: 5px;
}


@keyframes pulse {
  0%, 100% {
    color: #001F3F;
  }
  50% {
    color: #FF4136;
  }
}